<div class="classic">
  <div class="box" *ngFor="let employee of employees">
    <div class="boxes">
      <img src="{{employee?.imageUrl}}" class="customized-picture" title="illustration de {{employee?.jobTitle}}" alt="illustration de {{employee?.jobTitle}}">
      <h5 class="card-title">{{employee?.name}}</h5>
      <h6 class="customized-picture-line">Matricule : {{employee?.email}}</h6>
      <h6 class="customized-picture-line">Email : {{employee?.email}}</h6>
      <h6 class="customized-picture-line">Phone : {{employee?.phone}}</h6>
    </div>
  </div>
</div>
